@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-white: #f3f3f3;
  --color-black: #1a1a1a;
  --color-component-grey: #c8c8c8;
  --color-component-white: #e2e2e2;
  --color-btn-blue: #4f46e5;
  --color-btn-blue-hover: #4338ca;
}

html {
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

.component-wrapper {
  background-color: var(--color-component-grey);
  padding: 3rem;
  border-radius: 0.75rem;
  width: 100%;
}

.page-wrapper {
  max-width: 1500px;
  margin: auto;
  padding: 0 4rem;
}

@media (max-width: 1024px) {
  .page-wrapper {
    padding: 0 1.5rem;
  }
  .component-wrapper {
    padding: 2rem;
  }
}

.cv-button {
  @apply bg-white font-medium border-2 border-black rounded-full flex gap-4 items-center px-4 py-2 transition-all duration-300;
}

.cv-button:hover {
  @apply bg-btn-blue text-white border-white underline;
}
