@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-white: #f3f3f3;
  --color-black: #1a1a1a;
  --color-component-grey: #c8c8c8;
  --color-component-white: #e2e2e2;
  --color-btn-blue: #4f46e5;
}
